@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;1,700&display=swap');

/* Reset de estilos para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilo personalizado para el formulario de búsqueda */
.my-search-form {
    margin-left: auto; /* Alinea el formulario a la derecha */
    max-width: 300px; /* Ajusta el ancho máximo según tu preferencia */
    width: 100%; /* Hace que el formulario ocupe el 100% del ancho disponible */
  }

/* Estilos para el cuerpo del documento */
body {
    overflow-x: hidden; /* Evita desplazamiento horizontal en dispositivos pequeños */
}
.cuadro {
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad 0.1 (ajusta según lo deseado) */
    padding: 20px; /* Ajusta el espaciado según tus necesidades */
    border-radius: 10px; /* Ajusta el radio de la esquina según tus necesidades */
   text-align: center;
  }

/* Estilos para el fondo */
.fondo {
    background-color: rgba(77, 2, 2, 0.8);
    color: white;
}

/* Estilos para imágenes */
img {
    max-width: 100%;
}

/* Estilos para el contenedor principal */
.container {
    max-width: 2000px;
    margin: 0 auto;
}

/* Estilos para el encabezado */
header {
    --opacidad-negro: 0.4;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/Fondo_DC.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
    height: 1000px;
}

/* Estilos para el logo */
.logo {
    border-radius: .7cm;
    margin-left: 12px;
    position: absolute;
}

/* Estilos para la barra de búsqueda */
.buscar {
    margin-right: 30px;
}

/* Estilos para el contenido del encabezado */
.header-content {
    display: flex;
}

/* Estilos para el cuadro */
.cuadro {
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para los botones */
.boton {
    text-align: center;
}

.btn-1,
.btn-2,
.btn-3 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 55px;
    margin-right: 55px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.btn-1:hover {
    background-color: rgb(255, 0, 0);
    text-align: center;
}

/* Estilos para la sección "Popular" */
.popular {
    padding: 100px 0;
}

h2 {
    color: rgb(255, 0, 0);
    font-size: 45px;
    margin-bottom: 45px;
}

.popular-content img {
    max-width: 100%; /* Asegura que la imagen no exceda su contenedor */
}

/* Estilos para el contenido de productos */
.product-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.product-1 {
    background-color: rgb(119, 2, 2);
    margin-top: 100px;
    border: 2px double #000;
    border-radius: 10px;
    padding: 10px;
}

.product-txt {
    padding: 10px 10px;
    color: rgb(245, 245, 245);
}

h3 {
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    font-size: 25px;
    color: rgb(255, 204, 94);
}

.btn-2 {
    padding: 5px 25px;
    background-color: rgb(255, 0, 0);
    margin-right: 0;
}

/* Estilos para la sección de contacto */
.contact {
    padding: 150px 300px;
}

.contact-content {
    background-color: rgb(255, 0, 0);
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding: 18px 25px;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.btn-3 {
    background-color: red;
    cursor: pointer;
    margin-right: 0;
}

/* Estilos para el pie de página */
.footer {
    background-color: orange;
    text-align: center;
    padding: 10px;
    max-width: 100%;
    height: auto;
}

/* Estilos para los enlaces en el pie de página */
.link ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link ul li>a {
    font-size: 17px;
    color: black;
    margin-right: 20px;
}

.link ul li>a:hover {
    color: red;
}

/* Estilos para la imagen "gwen" */
.gwen {
    position: absolute;
    margin-top: 145px;
    margin-left: 20px;
    transform: rotate(20deg);
}

/* Estilos para los iconos sociales */
.icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
}

.icon:hover {
    background-color: #e60073;
    box-shadow: 0 0 20px #e60073;
}

.icon:hover:nth-child(2) {
    background-color: #1877f2;
    box-shadow: 0 0 20px #1877f2;
}
.icon:hover:nth-child(3) {
    background-color: #1da1f2;
    box-shadow: 0 0 20px #1da1f2;
}

.icon i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
}

svg circle {
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;
}

.icon:hover circle {
    stroke-dasharray: 220;
}

/* Estilos para la sección de redes sociales */
.redes {
    display: flex;
    height: 50px;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 991px) {
    .header {
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .header-txt {
        text-align: center;
    }

    .header-txt h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .butons {
        justify-content: center;
    }

    .btn-1:last-of-type {
        margin-right: 0;
    }

    .popular {
        display: none;
    }

    .product {
        padding: 30px;
    }

    .product-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .product-1 img {
        width: 100%;
    }

    .contact {
        padding: 30px;
    }

    form {
        flex-direction: column;
    }

    input {
        margin: 0 0 20px 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        margin-top: 20px;
    }
}


/* Estilos para la barra de navegación */
.navbar .menu {
    color: aliceblue;
    font-size: 22px;
    font-family: 'Comic Neue', cursive;
}

/* Estilos para el texto de .navbar-brand */
 .navbar-brand {
    font-weight: bold;
    color: red;
    font-size: 22px;
}

/* Estilos para .navbar .menu:hover */
.navbar .menu:hover {
    color: red;
    background: white;
    font-weight: bold;
    font-size: 22px;
    cursor: url(../IMG//flash2.cur), pointer;
}

/* Estilos para .navbar .menu:focus */
.navbar .menu:focus {
    color: white;
    background: red;
    cursor: url(../IMG//flash1.cur), pointer;
}

/* Estilos para .navbar .nav-item */
.navbar .nav-item {
    margin-left: 90px;
    margin-right: 50px;
}

/* Estilos para .iconos_navbar */
.iconos_navbar {
    margin-inline-start: 30px;
}

/* Estilos para .navbar .dropdown-menu */
.navbar .dropdown-menu {
    background-color: unset;
    border-style: none;
}

/* Estilos para .navbar .menu2:focus */
.navbar .menu2:focus {
    background-color: red;
    color: azure;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
}

/* Estilos para la sección de color */
.color {
    background-color: rgba(27, 26, 26, 0.7);
}