* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 2000px;
    margin: 0 auto;
}

header {
    --opacidad-negro: 0.4;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/IMG_3922.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
    height: 1000px;
}


.logo {
    border-radius: .7cm;
    margin-left: 12px;

    position: absolute;
}


.buscar {
    margin-right: 50px;
}




.header-content {
    display: flex;

}

.header-txt {
    background-color: rgba(0, 0, 0, 0.5);


}


.cuadro {
    margin-left: auto;
    margin-right: auto;

}

.boton {
    text-align: center;
}

.header-txt h1 {
    font-size: 65px;
    color: rgb(255, 0, 0);
    line-height: 1.5;
    margin-bottom: 35px;
    text-align: center;
}

.header-txt p {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 85px;
    text-align: center;
}

.btn-1,
.btn-2,
.btn-3 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 55px;
    margin-right: 55px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.btn-1:hover {
    background-color: rgb(255, 0, 0);
    text-align: center;
}

.popular {
    padding: 100px 0;

}

h2 {
    color: rgb(255, 0, 0);
    font-size: 45px;
    margin-bottom: 45px;

}

.popular-content img {
    width: 3500px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.product-1 {
    background-color: rgb(119, 2, 2);
    margin-top: 100px;
    border: 2px double #000; /* Borde de estilo doble de 2 píxeles en color negro (#000) */
    border-radius: 10px; /* Radio de 10 píxeles para bordes redondeados */
    padding: 10px; /
}

.product-txt {
    padding: 10px 10px;
    color: rgb(245, 245, 245);
}

h3 {
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    font-size: 25px;
    color: rgb(255, 204, 94);
}

.btn-2 {
    padding: 5px 25px;
    background-color: rgb(255, 0, 0);
    margin-right: 0;
}

.contact {
    padding: 150px 300px;
}

.contact-content {
    background-color: rgb(255, 0, 0);
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding: 18px 25px;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.btn-3 {
    background-color: red;
    cursor: pointer;
    margin-right: 0;
}

.footer {
    background-color: orange;
    text-align: center;
    padding: 10px;

    max-width: 100%;
    /* Establece un ancho máximo para el cuadro */
    height: auto;
    /* Ajusta la altura automáticamente */
}

.link ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos fluyan en varias líneas */
    justify-content: center;
    /* Centra horizontalmente los elementos */

}

.link ul li>a {
    font-size: 17px;
    color: black;
    margin-right: 20px;
}

.link ul li>a:hover {
    color: red;
}

.gwen {
    position: absolute;
    margin-top: 145px;
    margin-left: 20px;

}





.icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
}

.icon:hover {
    background-color: #e60073;
    box-shadow: 0 0 20px #e60073;
}

.icon:hover:nth-child(2) {
    background-color: #1877f2;
    box-shadow: 0 0 20px #1877f2;
}

.icon:hover:nth-child(3) {
    background-color: #25d366;
    box-shadow: 0 0 20px #25d366;
}

.icon:hover:nth-child(4) {
    background-color: #1da1f2;
    box-shadow: 0 0 20px #1da1f2;
}

.icon i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
}

svg circle {
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;
}

.icon:hover circle {
    stroke-dasharray: 220;
}

.redes {
    display: flex;
    height: 50px;

}

@media(max-width:991px) {

    .header {
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .header-txt {
        text-align: center;


    }

    .header-txt h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .butons {
        justify-content: center;


    }

    .btn-1:last-of-type {
        margin-right: 0;
    }

    .popular {
        display: none;
    }

    .product {
        padding: 30px;
    }

    .product-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .product-1 img {
        width: 100%;
    }

    .contact {
        padding: 30px;
    }

    form {
        flex-direction: column;
    }

    input {
        margin: 0 0 20px 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .link li {
        width: 50%;
        /* Ajusta el ancho de los elementos en pantallas pequeñas */
        height: auto;
    }
}

.navbar .menu {
    color: aliceblue;
    font-size: 25px;
    font-family: 'Comic Neue', cursive;
}

/* Estilo para el texto de .navbar-brand */
.navbar .navbar-brand {
    font-weight: bold;
    color: red;
    font-size: 40px;
}

/* Estilo para el texto dentro de .menu:hover */
.navbar .menu:hover {
    color: red;
    background: white;
    font-weight: bold;
    font-size: 22px;
    cursor: url(../IMG//spider1.png), progress;
}

/* Estilo para el texto dentro de .menu:focus */
.navbar .menu:focus {
    color: white;
    background: red;
    cursor: url(../IMG//spider2.png), progress;
}

/* Estilo para .nav-item */
.navbar .nav-item {
    margin-left: 90px;
    margin-right: 90px;
}

/* Estilo para .dropdown-menu */
.navbar .dropdown-menu {
    background-color: unset;
    border-style: none;
}

/* Estilo para .menu2:focus */
.navbar .menu2:focus {
    background-color: red;
    color: azure;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
}


.color {
    background-color: rgba(27, 26, 26, 0.7);
}