body{

    margin-left: 120px;
}
/* Media query para hacer el diseño responsive */
@media (max-width: 768px) {
    body {
        margin-left: 0; /* Eliminar el margen izquierdo en pantallas pequeñas */

        
padding-left: 20px;
    }
}




.titulo{
    font-size: 40px;
}


@media (max-width: 768px) {
    .comentarios {
        width: 100%; /* Ancho máximo del 100% para que se ajuste al contenedor */
        resize: vertical; /* Permite la redimensión vertical */
        max-width: 100%; /* Establece un ancho máximo del 100% */
    }
}

.comentarios {
    width: 600px; /* Ancho deseado */
    height: 100px; /* Altura deseada */
}

.fieldset {
    display: inline-block; /* Hace que el fieldset se comporte como un elemento en línea */
    padding: 10px; /* Agrega espacio interno alrededor del contenido del fieldset */
}



