.inicio {
    --opacidad-negro: 0.6;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../IMG/spider\ fondo.webp");
    background-position: center;
    background-size: cover;
    height: max-content;
}



.navbar-brand {

    font-family: 'Comic Neue', cursive;
    font-size: 5rem;
    color: red;
    margin-left: 100px;
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: #faf6f6
}

.thanos {
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    text-align: center;
}

.tarjetas{
    margin-top: 400px;
}


.link {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 15%;
    margin-left: 1200px;
    text-align: center;
    line-height: 3;
}

.link:link {
    color: rgb(8, 10, 10);
}

.link:visited {
    color: #f10ed3;
}

.link:focus {
    background: yellow;
}

.link:hover {
    background: rgb(255, 0, 0);
}

.link:active {
    background: rgb(1, 17, 243);
    color: rgb(255, 255, 255);
}

.t1 {
    text-decoration: underline;
    font-weight: bold;
    color: beige;
}

.t2 {
    text-decoration: line-through;
    font-size: 24px;
    color: #f10ed3;
}

.t3 {
    color: #0ae78b;
    font-style: italic;
    line-height: 3;
    font-size: 30px;
}

.textos {
    margin-top: 160px;
    margin-left: 1400px;
    list-style-type: decimal;
}