body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}
.container {
    display: flex;
    align-items: stretch;
}
.image-link {
    flex: 1;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.image:hover {
    transform: scale(1.1);
}
.custom-divider {
    width: 10px;
    height: 100%;
    background-color: #0088cc;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}
header,
footer {
    text-align: center;
    padding: 10px;
    background-color: #830202;
    color: #fff;
}
.container {
    display: flex;
    flex-direction: row; /* Establece la dirección de los elementos a fila por defecto */
    justify-content: space-between; /* Añade espacio entre las imágenes */
  }
  
  .image-link {
    margin-bottom: 10px; /* Añade un margen inferior entre las imágenes */
  }
  
  /* Media query para pantallas más pequeñas */
  @media only screen and (max-width: 600px) {
    .container {
      flex-direction: column; /* Cambia la dirección a columna para pantallas más pequeñas */
    }
  }